html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

div {
  position: relative;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  letter-spacing: 1px;
}

iframe {
  border: 0 none;
}

input {
  font-size: 20px;
  line-height: 1.4;
  width: 100%;
}

li, p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  text-decoration: none;
  padding: 0px;
  color: #757575;
  margin: 2px auto;
}

a {
  text-decoration: none;
  padding: 0px;
  line-height: 1.4;
  font-weight: 300;
  cursor: pointer;
  color: black;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.section {
  padding: 50px 0px 100px;
}

.content-wrapper {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.absolute-fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.long-transition {
  transition: all 0.5s;
}


/* Fonts and Colors */

.red-background {
  /* background-color: rgb(255, 59, 63); */
  background-color: white;
}

.white-background {
  background-color: rgb(240, 240, 240);
  /* background-color: white; */
}

.lightgray-background {
  background-color: rgb(245, 245, 245)
}
.blue-background {
  background-color: rgb(140, 106, 217);
  color: white;
  font-size: 12px;
}
@media (min-width: 600px) {
  .blue-background {
    font-size: 20px;
  }
}

.text-primarycolor {
  color: black;
}
.text-primarycolor-small {
  font-size: 12px;
}

.text-secondarycolor {
  /* color: rgb(255, 59, 63); */
  color: black;
}

.largest-font {
  font-size: 40px;
  line-height: 1.4;
}

.large-font {
  font-size: 34px;
  line-height: 1.4;
}

.medium-font {
  font-size: 24px;
  line-height: 1.4;
}

.title-font {
  font-size: 40px;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .title-font {
    font-size: 30px;
  }
}

.red-border {
  border: 2.5px solid rgb(255, 59, 63);
}

@media (min-width: 600px) {
  .largest-font {
    font-size: 65px;
  }
}


/* Buttons */

.button {
  width: 280px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(255, 59, 63);
  color: white;
  transition: all 0.3s;
}

.main-footerbar .button {
  width: 220px;
  font-size: 20px;
}

.button.decline {
  background-color: white;
  color: black;
  width: 90%;
  border: 1px solid black;
}

.button.accept {
  border: none;
  background-color: rgb(255, 59, 63);
  color: white;
  width: 90%;
}

.button * {
  color: white;
}

.button:hover {
  transform: scale(1.1);
  border-radius: 8px;
  cursor: pointer;
}

.btn-copy {
 width: 80%;
}

.btn-qr {
  width: 20%
}

.logo-margin {
  margin: 0px auto 40px;
}

@media (min-width: 600px) {
  .logo-margin {
    margin: 40px auto;
  }
}

.large-margin {
  margin: 40px auto;
}

.large-padding {
  padding: 20px;
}

.medium-margin {
  margin: 20px auto;
}

.small-margin {
  margin: 10px auto;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.list-item {
  padding: 20px 10%;
  text-align: left;
  color: white;
}

.list-left {
  width: 100%;
}

.list-right {
  width: 100%;
}

@media (min-width: 600px) {
  .list-left {
    width: 40%;
  }
  .list-right {
    width: 60%;
  }
}


/* Navbar */

#navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}

#navbar div {
  line-height: 60px;
  font-size: 16px;
}

#logo {
  margin: 6px;
  width: 48px;
}

#countdown {
  position: relative;
}

#name {
  font-weight: bold;
  color: rgb(255, 59, 63);
}

@media (max-width:600px) {
  #name {
    display: none;
  }
  #menu {
    display: none;
  }
}

#menu {
  float: right;
  display: flex;
}

#menu div {
  margin: 0px 8px;
  cursor: pointer;
}

#menu div:hover {
  transform: scale(1.1);
}


/* Social */

#social {
  background-color: rgba(0, 0, 0, 0.20)
}

@media (min-width:600px) {
  .social-icons {
    display: flex;
    justify-content: space-between;
  }
}

.social-icons img {
  width: 60px;
  height: 60px;
}

@media (max-width:600px) {
  #social-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    right: 0px;
    top: 0px;
    height: 60px;
    width: 230px;
    padding: 10px 5px 10px 16px;
    background-color: white;
  }
  #social-bar img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(0.3);
  }
}

@media (min-width:600px) {
  #social-bar {
    position: fixed;
    border-radius: 12px;
    left: -12px;
    top: calc(50% - 115px);
    height: 230px;
    width: 60px;
    padding: 10px 0px 10px 16px;
    background-color: #825cd6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    opacity: 0;
  }
  #social-bar:hover {
    transform: scale(1.1);
  }
  #social-bar img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
  }
}

#chlogo {
  width: 150px;
  height: 150px;
}

#companytitle {
  /* transform: translateY(-100px); */
}

#pg-canvas {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


/* Home */

#home {
  padding: 100px 0px 100px 0px;
  background-color: transparent;
  height: 100%;
}

@media (min-width: 600px) {
  .home-buttons {
    display: flex;
    justify-content: space-around;
  }
}

.ico-label-start {
  font-weight: 400px;
  text-transform: uppercase;
}

.ico-label-terms {
  style="margin-top: 20px;
  font-weight: 400px;
}

.ico-label-termslink {
  color: #757575;
}

/* Modal */

.modal-terms {
  font-size: 12px;
  line-height: 1.2;
}

.modal-list {
  margin: 0px;
  -webkit-padding-start: 20px;
}

.modal-button-margin {
  margin-bottom: 10px;
}

.qr-img {
  max-width: 250px;
}

/* Main */

.main-footerbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: center;
}

.footerbar-item {
  padding: 10px;
  width: 33.3%;
}

@media (min-width: 600px) {
  .main-footerbar {
    display: none;
  }
}

.main-footerbar i {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 600px) {
  .main-buttons {
    display: none;
  }
  .zopim {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .header-hr {
    display: none;
  }
}

#main-fade {
  display: inline-block;
  opacity: 0;
  min-height: 150px;
  height: 100%;
  width: 100%;
}

#stock-simulation {
  position: absolute;
  top: 0px;
  left: 0px;
  fill-opacity: 0.03;
}

#sale-progress {
  border: 1px solid black;
  height: 40px;
  border-radius: 4px;
}

#sale-progressfill {
  background-color: #825cd6;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10%;
  height: 100%;
}

#sale-progresstext {
  text-align: center;
  line-height: 40px;
}


/* Project */

#project svg {
  width: 100%;
  height: 100px;
  margin: auto;
  fill: #FCD272;
}

.project-list {
  width: 100%;
}

@media (min-width: 600px) {
  .project-list {
    width: 50%;
  }
}

.project-box {
  margin: 40px auto;
  padding: 20px;
  min-height: 200px;
  max-width: 400px;
  width: calc(100% - 40px);
  border-radius: 4px;
  background-color: white;
}

.project-box img {
  width: 100px;
  height: 100px;
}

.project-boxtitle {
  font-weight: bold;
}

.project-boxdescription {}


/* Team */

.team-members {
  width: 240px;
  margin: auto;
}

@media (min-width: 480px) {
  .team-members {
    width: 480px;
    margin: auto;
  }
}

@media (min-width: 720px) {
  .team-members {
    width: 720px;
    margin: auto;
  }
}

@media (min-width: 960px) {
  .team-members {
    width: 960px;
    margin: auto;
  }
}

.team-member {
  float: left;
  width: calc(100%/2);
}

.team-image {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  height: 100px;
  width: 100px;
  margin: 20px auto;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: white;
}

.team-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .team-member {
    width: calc(100%/4);
  }
  .team-image {
    height: 150px;
    width: 150px;
  }
}

.linkedin-icon {
  background-image: url("../img/linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.0);
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  height: calc(100% + 10px);
}

@media (max-width: 600px) {
  .linkedin-icon {
    background-position: right;
    opacity:1;
    background-size: 20px;
  }
}

.linkedin-icon:hover {
  opacity: 1;
}

.link-icon {
  background-image: url("../img/link.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.0);
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  height: calc(100% + 10px);
}

.link-icon:hover {
  opacity: 1;
}

.team-image:hover {
  transform: scale(1.1);
}


/* ZenDesk */

.zopim {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0px !important;
  position: fixed !important;
  bottom: 0px !important;
  background-color: #825cd6 !important;
}


/* ICO */

#ico {}

#icotitle {
  color: rgb(255, 59, 63);
}

.ico-tokendist {
  width: 100%;
  max-width: 600px;
}

.bounty-list {
  width: 100%;
}

.bounty-title {}

.force-word-wrap {
  word-spacing: 9999px;
}

.bounty-name li {
  text-align: left;
}

.bounty {
  width: Calc(100%/2);
  float: left;
  min-height: 200px;
  margin: 20px auto;
}

.bounty-section {
  margin: auto;
  width: Calc(100%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 640px) {
  .bounty {
    width: Calc(100%/3);
    float: left;
  }
  .bounty-section {
    margin: auto;
    width: Calc(100%);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .bounty {
    width: Calc(100%/6);
    float: left;
  }
}

.bounty-value {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
  margin: auto;
  font-size: 20px;
}

.bounty-title {}

.bounty img {
  width: 80px;
  height: 80px;
}


/* Subscribe */

.email-subscribeform {
  width: 100%;
  height: 150px;
}

.email-subscribe {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-right: 0px;
}

.email-subscribebutton {
  margin-left: -8px;
  position: absolute;
  right: 0px;
  top: 60px;
  height: 50px;
  border-radius: 4px;
  height: 56px;
  line-height: 56px;
  width: 100%;
}

@media (min-width: 600px) {
  .email-subscribebutton {
    top: 0px;
    width: 200px;
  }
}

/* copy to clipboard */
#myTextArea,
#myTextArea:focus,
#myTextArea {
  color: #FFFFFF;
  border: none;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  width: 1px;
  height: 1px;
  max-width: 1px;
  max-height: 1px;
  outline: none;
  resize: none;
+}
