/* general */

.container {
    max-width: 756px;
}

.shadow {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.shadow-down {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.section {
    padding-top: 80px;
}

@media (min-width: 768px) {
    .section {
        padding-top: 80px;
    }
}

.suave {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.suave-dark {
    border-top: 1px solid #2F3138;
    border-bottom: 1px solid #2F3138;
}

/* colors */

.bg-brand-black {
    background-color: #354249;
}

.bg-brand-dark {
    background-color: #0075BA;
}

.bg-brand {
    background-color: #1E91D6;
}

.bg-brand-light {
    background-color: #36A3E2;
}

.bg-brand-white {
    background-color: #DDF2FF;
}

.text-brand {
    color: #1E91D6;
}

/* fonts */
.fancy-font {
    font-family: 'Eagle Lake', cursive;
}

/* navbar */

.flg {
    height: 1rem;
}

.flg-main {
    height: 1.5rem;
}

/* .navbar-nav {
    font-size: 1.2rem;
    text-transform: uppercase;
} */

/* hero */

.hero {
    padding-top: 50px;
}

@media (min-width: 576px) {
    .hero {
        padding-top: 80px; 
    }
}

.hero-image {
    width: 30vw;
    max-width: 400px;
    min-width: 200px;
}

.hero-text {
    font-size: 4rem;
}

@media (min-width: 576px) { 
    .hero-text {
        font-size: 4rem;
    }
}

@media (min-width: 768px) { 
    .hero-text {
        font-size: 4rem;
    }
}

@media (min-width: 992px) { 
    .hero-text {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) { 
    .hero-text {
        font-size: 5rem;
    }
}

/* contact */
.img-sfep {
    max-width: 250px;
}

@media (max-width: 768px) {
    .splitter {
        border-top: 1px solid white;
    }
}

/* Bootstrap button default */

/* .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0069d9;
    background-image: none;
    border-color: #0062cc;
} */


/* my button styles */

.btn-brand {
    color: #FFFFFF;
    background-color: #1E91D6;
    border-color: #1E91D6;
}

.btn-brand:hover,
.btn-brand:focus,
.btn-brand:active,
.btn-brand.active,
.open .dropdown-toggle.btn-brand {
    color: #FFFFFF;
    background-color: #0075BA;
    border-color: #1E91D6;
}

.btn-brand:active,
.btn-brand.active,
.open .dropdown-toggle.btn-brand {
    background-image: none;
}

.btn-brand.disabled,
.btn-brand[disabled],
fieldset[disabled] .btn-brand,
.btn-brand.disabled:hover,
.btn-brand[disabled]:hover,
fieldset[disabled] .btn-brand:hover,
.btn-brand.disabled:focus,
.btn-brand[disabled]:focus,
fieldset[disabled] .btn-brand:focus,
.btn-brand.disabled:active,
.btn-brand[disabled]:active,
fieldset[disabled] .btn-brand:active,
.btn-brand.disabled.active,
.btn-brand[disabled].active,
fieldset[disabled] .btn-brand.active {
    background-color: #1E91D6;
    border-color: #1E91D6;
}

.btn-brand .badge {
    color: #1E91D6;
    background-color: #FFFFFF;
}

/* blockquote */

.blockquote {
    border-left: 5px solid #1E91D6;
    padding-left: 20px;
    margin: 20px 0;
}

.blockquote p {
    font-style: italic;
    color: #354249;
    margin-bottom: 0.3rem;
}

.blockquote footer {
    font-size: 0.8em;
}

/* background images */

.backgroundtern {
    background-image: url("img/ternupscaled.png");
    background-repeat: no-repeat;
    background-position: 1230px 50px;
    background-size: 400px;
}

.backgroundssl {
    background-image: url("img/seascapeleft.png");
    background-repeat: no-repeat;
    background-position: 70px 70px;
    background-size: 500px;
}

.backgroundssr {
    background-image: url("img/seascaperight.png");
    background-repeat: no-repeat;
    background-position: 1180px 270px;
    background-size: 500px;
}

/* scrollup */

.scrollup {
    width: 44px;
    height: 48px;
    position: fixed;
    bottom: 5%;
    right: 8%;
    display: none;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    text-shadow: 0 0 9px #000;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 10;
    text-decoration: none;
    border-radius: 50%;
}

.scrollup:hover {
    transform: translateY(-3px);
}

.demo-icon {
    text-decoration: none;
}